@import 'tailwindcss' source('./app');
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.app-dark, .app-dark *));

/* nx-tailwind-sources:start */
@source "../../../packages/ai/ng";
@source "../../../packages/ai/ts";
@source "../../../packages/auth/ng";
@source "../../../packages/chat/ts";
@source "../../../packages/dashboard/ng";
@source "../../../packages/sdk/ng";
@source "../../../packages/storage/ng";
@source "../../../packages/storage/ts";
@source "../../../packages/users/ng";
@source "../../../packages/users/ts";
@source "../../../packages/websocket/ng";
@source "../../../packages/websocket/ts";
/* nx-tailwind-sources:end */

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
